@import "mixin/clearfix";

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#content {
    width: 100%;
}
div#content > div {
    flex: 1;
    display: flex;
}
div#content > div > .main {
    flex-grow: 1;
    height: 100%;
}

table {
    td {
        padding: 5px;

        &.no {
            &.border {
                &.top {
                    border-top: none;
                    padding-top: 0;
                }

                &.bottom {
                    border-bottom: none;
                    padding-bottom: 0;
                }
            }
        }

        &.value {
            font-weight: bold;
        }
    }
}

form {
    div.checkbox:not(.col-md-12) {
        clear: both;
        padding-right: 15px;
        padding-left: 15px;
    }
}

//Alignment

.text {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }
}
