body {
    font-family: Courier, Calibri, Helvetica, sans-serif;
    font-size: 12px;
}

img.logo {
    margin: auto;
    display: block;
    height: 66px;
}

table {
    border: solid 1px black;

    tbody {
        tr {
            padding: 5px;
        }
    }
}



@import "global";