body {
  font-family: Courier, Calibri, Helvetica, sans-serif;
  font-size: 12px;
}

img.logo {
  margin: auto;
  display: block;
  height: 66px;
}

table {
  border: solid 1px black;
}
table tbody tr {
  padding: 5px;
}

table td {
  padding: 5px;
}
table td.no.border.top {
  border-top: none;
  padding-top: 0;
}
table td.no.border.bottom {
  border-bottom: none;
  padding-bottom: 0;
}
table td.value {
  font-weight: bold;
}

form div.checkbox:not(.col-md-12) {
  clear: both;
  padding-right: 15px;
  padding-left: 15px;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

/*# sourceMappingURL=pdf.css.map */
